# Database
DATABASE_URL=sqlite:///./healpay.db

# Security
SECRET_KEY=your-secret-key-here-change-in-production

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=shiduawan@gmail.com
SMTP_PASSWORD=eqrz rptt imfw rant

# OTP Configuration
OTP_LENGTH=4
OTP_EXPIRY_MINUTES=3
